#blc_menu {
    background-image: url("https://menu.theborderland.se/bg.gif");
    background-repeat: repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    display: none;
    color: green;
    padding: 5%;
}
#blc_header {
    justify-content: center;
    display: flex;
}
@media screen and (min-width: 700px) {
    #blc_cols {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    .blc_row {
        justify-content: space-between;
        display: flex;
    }
}

.blc_btn a {
    cursor: help;
}

#blc_clippy {
    z-index: 9998;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-image: url("https://menu.theborderland.se/compass.gif");
//    background-image: url("compass.gif");
    border: 1px solid rgba(136, 136, 136, .5);
    //background-color: rgb(245, 230, 99);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    position: absolute;
}

#blc_clippy:active { // FIXME no worky on touchy
                     background-color: rgba(168, 218, 220, 1.00);
                   }

#blc_clippy:hover {
    cursor: move;
    border-width: 20px;
}
body {
    height: 100%;
    width: 100%;
}
